<div ncy-breadcrumb></div>
<header>
    <h3>
        Households
        <small><show-when-loading></show-when-loading></small>
    </h3>
    <messages-display></messages-display>
</header>
<hr />

<div class="col-md-3">
    <h4>Create Household</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="addHouseholdForm" role="form" validation-schema schema="AddHousehold" track-changes>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label mandatory-field">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon input-sm">
                                <i class="fa fa-pencil btn-icon"></i>
                            </div>
                            <input type="text" name="name" class="form-control input-sm" message-id="nameMessage"
                                   ng-model="vm.newHousehold.name" maxlength="40" />
                        </div>
                        <div id="nameMessage"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label mandatory-field">Address</label>
                        <div class="input-group">
                            <div class="input-group-addon input-sm">
                                <i class="fa fa-map-marker btn-icon"></i>
                            </div>
                            <input type="text" name="name" class="form-control input-sm" message-id="addressMessage"
                                   ng-model="vm.newHousehold.address" maxlength="40" />
                        </div>
                        <div id="addressMessage"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label name="budgetType" class="control-label mandatory-field">Phone Number</label>
                        <div class="input-group">
                            <div class="input-group-addon input-sm">
                                <i class="fa fa-phone btn-icon"></i>
                            </div>
                            <input type="text" name="allocatedAmount" class="form-control input-sm" message-id="phoneMessage"
                                   ng-model="vm.newHousehold.phoneNumber" />
                        </div>
                        <div id="phoneMessage"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="input-group"></label>
                        <button class="btn btn-block btn-default" ng-click="vm.addBudget(addBudgetForm)">Create Household</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <section>
            <h3>Members</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in members">
                        <td>{{member.name}}</td>
                        <td>{{member.email}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>Invite</h3>
            <p>Invite another user to join your household.</p>
            <form role="form">
                <div class="form-group">
                    <label for="email">Email</label>&nbsp;
                    <input type="text" class="form-control input-sm" ng-model="invite.email" />
                </div>
                <button type="button" class="btn btn-info btn-sm">Send Invitation</button>
            </form>
        </section>
        <section>
            <h3>Leave</h3>
            <p>Leave your current household and start a new one.</p>
            <form class="form-horizontal" role="form">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />
                        I understand that I will no longer have access to my current household's accounts.
                    </label>
                </div>
                <br />
                <button type="button" class="btn btn-danger btn-sm">Leave this household</button>
            </form>
        </section>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <section>
            <h4>About Households</h4>
            <p>
                Households are how we group accounts and more.
            </p>
            <p>
                Each user belongs to only 1 household, but the household can have many users.
            </p>
            <p>
                Each user in your household has full access to all account data.
            </p>
        </section>
    </div>
</div>