/* Less colours */
$ntg-primary-orange: #167a81;
$ntg-primary-orange-accent1: #01484F;
$ntg-light-orange: #509BA2;
$ntg-header-text: #2F838B;
$ntg-navbar-dark: #242424;
$standard-text: #333333;
$inverted-text: #FFFFFF;
$feed-background: #F0F0F0;
$nav-separation: #333333;
$input-text: #555;
$inactive-tab-text: #337AB7;

$ntg-danger:#E62E00;
$button-danger: $ntg-danger;
$button-danger-accent1: darken($button-danger, 10%);
$button-danger-accent2: darken($button-danger, 20%);
$button-danger-accent3: darken($button-danger, 30%);

$button-primary: #167a81;
$button-primary-accent1: $ntg-primary-orange-accent1;
$button-primary-accent2: darken($button-primary-accent1, 10%);
$button-primary-accent3: darken($button-primary-accent1, 20%);
$button-default: $ntg-navbar-dark;
$button-default-accent1: darken($button-default, 10%);
$button-default-accent2: darken($button-default, 20%);
$button-default-accent3: darken($button-default, 30%);

$grid-text: #01484F;
$grid-alt-row: #FAE0DD;
$grid-hover: #F5F5F5;

/* for fixed-bottom footer */
html {
    position: relative;
    height: 100%;
}

/* Add space for header and nav */
body {
    padding-top: 162px;
    padding-bottom: 30px;
    height: 100%;
    font-family: Arial, sans-serif;
    color: $standard-text;
}

/* Main app title */
#site-heading {
    font-family: Arial, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    color: $inverted-text;
    font-size: 36px;
    >span {
        vertical-align: bottom;
    }
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: $ntg-header-text;
    font-family: Arial, sans-serif;
}
h1,.h1 {
    font-size: 24px;
    font-weight: bold;
}
h2,.h2 {
  font-size: 22px;
}
h3,.h3 {
  font-size: 20px;
}
h4,.h4 {
  font-size: 18px;
}
h5,.h5 {
  font-size: 14px;
}
h6,.h6 {
  font-size: 12px;
}
/* bootstrap defaults for comparison */
/*h1,.h1 {
  font-size: 36px;
}
h2,.h2 {
  font-size: 30px;
}
h3,.h3 {
  font-size: 24px;
}
h4,.h4 {
  font-size: 18px;
}
h5,.h5 {
  font-size: 14px;
}
h6,.h6 {
  font-size: 12px;
}*/

/* Hyperlinks */
a {
    text-decoration: underline;
}
a:visited{
    color: purple;
}
/* but not for navs, pils, tabs or a-buttons! */
.nav a, .btn a {
    text-decoration: none;
}
a:visited.btn, a:visited.btn {
    color: white !important;
}
/* navigation bar */
.navbar {
    background-color: $ntg-navbar-dark;
    color: $inverted-text;
}

.navbar-nav > li > a {
    color: $inverted-text !important;
    &:focus {
        /* stop grey backgrounds on clicked nav links */
        background-color: $ntg-navbar-dark;
    }
    &:hover {
        background-color: black;
    }
}

/* images in nav links are not always going to look the same - you should make sure
    the size and position lines up with text. */
.navbar-nav > li > a > img {   
    vertical-align: baseline;
    position: relative;
    z-index: 1;
    top: -5px;
    left: -3px;
    float: left;
}

.navbar-nav .active > a {
    background-color: $ntg-light-orange !important;
}

.nav .open>a {
    background-color: $ntg-light-orange !important;
    /*border-bottom: 1px transparent !important;*/
}

/* nav tabs */
.nav-tabs > li > a {
    color: $inactive-tab-text;
}

/* Dropdown menus have to change colour when menu is collapsed, since the whole dropdown is now in the nav background */
@media (max-width: 767px) {
    body {
        padding-top: 60px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        color: $inverted-text;
        border-bottom: 1px transparent !important;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: $ntg-navbar-dark;
        border-bottom: 1px solid $inverted-text !important;
    }
}

/* class="ntg-navbar-top" for top nav bar */
.ntg-navbar-top, .ntg-navbar-bottom, .ntg-panel-nav {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.ntg-navbar-bottom .navbar-toggle, .ntg-navbar-bottom, footer, .ntg-navbar-top .navbar-toggle:hover,
 .ntg-header-row {
    background-color: $ntg-primary-orange;
}

.ntg-navbar-top {
    border-bottom: 0;
}

.ntg-navbar-top:after {
    content: "";
    min-height: 10px;
    display:  block;
    background-color: $ntg-light-orange;
}

.ntg-navbar-top .navbar-toggle {
    border-color: $inverted-text;
    background-color: black;
}

.ntg-navbar-top .navbar-toggle .icon-bar {
    background-color: $inverted-text;
}

footer {
    color: $inverted-text;
    width: 100%;
    position: relative;
}

.ntg-navbar-bottom {
    margin: 0;
    border: 0;
    color: $inverted-text;
}

.ntg-navbar-bottom .navbar-toggle .icon-bar {
    background-color: $inverted-text;
}

/* Overwrite header, footer & navbar for internal pages by adding the "internal" class to the body element */
body.internal {
    .navbar {
        background-color: $ntg-primary-orange;
    }

    .ntg-navbar-bottom .navbar-toggle, .ntg-navbar-bottom, footer, .ntg-navbar-top .navbar-toggle:hover,
    .ntg-header-row {
        background-color: $ntg-navbar-dark;
    }

    
    .navbar-nav > li > a {
        &:focus {
        /* stop grey backgrounds on clicked nav links */
            background-color: $ntg-primary-orange;
        }
        &:hover {
            background-color: lighten($ntg-primary-orange);
        }
    }
}

.ntg-navbar-bottom .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 20px;
    border-bottom: none !important;
}

.ntg-navbar-bottom.navbar {
    min-height: 0;
}



/* Three-panel navigation.  This may need to be customised depending on the size of your content.
    This is designed to give you freedom to use bootstrap columns of any size - just add ntg-panel-container
    class to the bootstrap container class, and add ntg-panel-part to every column */

.ntg-panel-container {
    /*display: table;*/
    height: 100%;
    width:100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.ntg-panel-row {
    height: 100%;
    width: 100%;
    /*display: table-row;*/
}

.ntg-panel-part {
    height:100%;
    padding-top: 10px;
    /*float: none;
    display: table-cell;*/
}

/* The ntg-panel-nav column gets special styling for the LHS */
.ntg-panel-container .ntg-panel-nav {
    padding-left: 0;
    padding-right: 0;
    background-color: $ntg-navbar-dark;
    color: $inverted-text;

    .ntg-panel-title {
        padding-left: 19px; /* bootstrap's a padding of 15px plus 4px hover left-border */
        padding-bottom: 15px;
    }

    .nav li {
        border-bottom: 1px $nav-separation solid;

        a {
            color: $inverted-text;
            border-left: 4px $ntg-navbar-dark solid;
            &:focus {
                /* stop grey backgrounds on clicked nav links */
                background-color: $ntg-navbar-dark;
            }
            &:hover {
                color: $inverted-text;
                border-left: 4px $ntg-primary-orange solid;
                background-color: black !important;
            }
        }
    }
}

.ntg-panel-container .ntg-panel-feed {
    background-color: $feed-background;
    padding-top: 10px;
}

/* Page elements */
input {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: $input-text;
    background-color: $inverted-text;
}

.control-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: $standard-text;
}

/* Buttons */
.btn-primary {
    color: white;
    background-color: $button-primary;
    border-color: $button-primary-accent1;
    &:hover {
        color: white;
        background-color: $button-primary-accent1;
        border-color: $button-primary-accent2;
    }
    &:focus {
        color: white;
        background-color: $button-primary-accent1;
        border-color: $button-primary-accent3;
    }
}

.btn-default {
    color: white;
    background-color: $button-default;
    border-color: $button-default-accent1;
    &:hover {
        color: white;
        background-color: $button-default-accent1;
        border-color: $button-default-accent2;
    }
    &:focus {
        color: white;
        background-color: $button-default-accent1;
        border-color: $button-default-accent3;
    }
}

.btn-danger {
    color: white;
    background-color: $button-danger;
    border-color: $button-danger-accent1;
    &:hover {
        color: white;
        background-color: $button-danger-accent1;
        border-color: $button-danger-accent2;
    }
    &:focus {
        color: white;
        background-color: $button-danger-accent1;
        border-color: $button-danger-accent3;
    }
}

/* Tables */
.table>thead>tr>th {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: $grid-text;
    background-color: white;
}
.table>tbody>tr {
    background-color: white;
}
.table .glyphicon {
    color: $grid-text;
}
.table-hover>tbody>tr:hover>td {
    background-color: $grid-hover !important;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: white;
}
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: $grid-alt-row;
}
/* Toast messages */
.ntg-toast.alert-danger {
    background-color: $ntg-primary-orange;
    color: $inverted-text;
}

#header-ntg-logo {
   height: 50px !important;
   margin: 0 20px 5px 20px;
}