<header>
    <h1>Accounts</h1>
</header>
<div class="row">
    <div class="col-md-3">
        <h3>Add New Account</h3>
        <form role="form">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Account Name" ng-model="vm.newAccount.name" required />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-success btn-sm" ng-click="vm.createAccount()">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr/>
<h4>Account History</h4>
<div ng-show="vm.accounts.length <= 0">
    No accounts
</div>
<div ng-show="vm.accounts.length > 0">
    <table st-table="vm.budgets" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="name">Account</th>
                <th st-sort="balance">Balance</th>
                <th st-sort="isReconciled">Reconciled</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.accounts">
                <td><a ui-sref="home.accounts.details({accountId:row.id})">{{row.name}}</a></td>
                <td>{{row.balance | currency}}</td>
                <td>{{row.reconciled | currency}}</td>
                <td><a data-toggle="modal" data-target="#confirmDeleteModal" ng-click="vm.setWaitingDelete(row)"><i class="fa fa-trash"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>