<header>
    <h1>Accounts</h1>
</header>
<div class="row">
    <div class="col-md-3">
        <h3>Add New Account</h3>
        <form role="form" novalidate>
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Account Name" ng-model="accountData.name" required />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-success btn-sm" ng-click="createAccount(accountData)">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<table class="table table-striped">
    <tr>
        <th></th>
        <th><h5>Account</h5></th>
        <th><h5>Balance</h5></th>
        <th><h5>Reconciled</h5></th>
    </tr>
    <tr ng-repeat="account in accounts">
        <td>
            <div class="btn-group">
                <a href="#/accounts/{{account.name}}/{{account.id}}" class="btn btn-info btn-sm">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-danger btn-sm" ng-click="deleteAccount(account.id)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </td>
        <td>{{account.name}}</td>
        <td>{{account.balance | currency}}</td>
        <td>{{account.reconciled | currency}}</td>
    </tr>
</table>