<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Develop" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DebugMode" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Secret" value="KD9BYXFLTDFxU2V0VXEybFdUWz5jTjA3MFVrNnJ0Zng3cEM2YEk+Ny1tI2xpOXQ4VlY+WC50L1NQZzQ=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="FacebookAppId" value="1729355847311549" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FacebookAppSecret" value="88808e92030ac53abeef9c7fcfb763da" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FacebookAppToken" value="1729355847311549|scuh0xb1kFMWvJcokp3H_eQMSnY" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RecaptchaPublicKey" value="6LcNCCQTAAAAAMrFV5RxJYZFwl-FQS1IREzL23uy" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RecaptchaPrivateKey" value="6LcNCCQTAAAAAE5lKQo7AIQARhbvcN_LU07r3sJ5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
  </appSettings>
   
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="todo@todomail.com">
        <network host="todo" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>