<header>
    <h1>Dashboard</h1>
</header>
<div class="row">
    <div class="col-md-3">
        <section>
            <h3>Accounts</h3>
            <hr />
            <article ng-repeat="account in accounts">
                <a href="">{{account.name}}</a>
                &nbsp;
                <span ng-class="(account.balance > 0) ? 'alert-success' : 'alert-danger'">{{account.balance | currency}}</span>
            </article>
        </section>
        <section>
            <h3>Recent Transactions</h3>
            <hr />
        </section>
    </div>
    <div class="col-md-9">
        <section>
            <h3>Budget</h3>
            <hr />
        </section>
    </div>
</div>