<div ncy-breadcrumb></div>
<header>
    <h3>
        My Budgets
        <small><show-when-loading></show-when-loading></small>
    </h3>
    <messages-display></messages-display>
</header>
<hr />
<div class="row">
    <div class="col-md-3">
        <h4>Add Budget</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="addBudgetForm" role="form" validation-schema schema="AddBudget" track-changes>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-12">Budget Type</label>
                            <div class="btn-group btn-group-justified col-xs-12">
                                <a class="btn btn-default" ng-class="{'btn-success': vm.newBudget.type == 'Savings'}" ng-click="vm.newBudget.type = 'Savings'">Savings</a>
                                <a class="btn btn-default" ng-class="{'btn-danger': vm.newBudget.type == 'Spendings'}" ng-click="vm.newBudget.type = 'Spendings'">Spendings</a>
                            </div>
                            <div class="col-xs-12">
                                <input ng-model="vm.newBudget.type" name="budgetType" message-id="typeMessage" ng-show="false" />
                                <div id="typeMessage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label mandatory-field">Name</label>
                            <div class="input-group">
                                <div class="input-group-addon input-sm">
                                    <i class="fa fa-pencil btn-icon"></i>
                                </div>
                                <input type="text" name="name" class="form-control input-sm" message-id="nameMessage"
                                       ng-model="vm.newBudget.name" maxlength="40" />
                            </div>
                            <div id="nameMessage"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label ng-show="vm.newBudget.type != 'Savings'" name="budgetType" class="control-label mandatory-field">Allocated Amount</label>
                            <label ng-show="vm.newBudget.type == 'Savings'" name="budgetType" class="control-label mandatory-field">Target Amount</label>
                            <div id="inBudgetItemType"></div>
                            <div class="input-group">
                                <div class="input-group-addon input-sm">
                                    <i class="fa fa-dollar btn-icon"></i>
                                </div>
                                <input type="text" name="allocatedAmount" class="form-control input-sm" message-id="amountMessage"
                                       ng-model="vm.newBudget.allocatedAmount" />
                            </div>
                            <div id="amountMessage"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="input-group"></label>
                            <button class="btn btn-block btn-default" ng-click="vm.addBudget(addBudgetForm)">Add Budget</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <h4>Budget History</h4>
        <div ng-show="vm.budgets.length <= 0">
            No budgets
        </div>
        <div ng-show="vm.budgets.length > 0">
            <table st-table="vm.budgets" class="table table-striped">
                <thead class="navbar navbar-inverse">
                    <tr>
                        <th st-sort="type">Type</th>
                        <th st-sort="name">Name</th>
                        <th st-sort="allocatedAmount">Allocated Amount</th>
                        <th st-sort="balance">Balance</th>
                        <th>Remaining</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.budgets">
                        <td>{{row.type}}</td>
                        <td><a ui-sref="home.budgets.details({budgetId:row.id})">{{row.name}}</a></td>
                        <td>{{row.allocatedAmount | currency}}</td>
                        <td>{{row.balance | currency}}</td>
                        <td>{{vm.getRemainingForBudget(row) | currency}}</td>
                        <td><a ng-click="vm.deleteBudget(row)"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />