<div ncy-breadcrumb></div>
<header>
    <h3>
        {{vm.budget.type}} Budget <small>- {{vm.budget.name}}</small>
        <small><show-when-loading></show-when-loading></small>
    </h3>
    <messages-display></messages-display>
</header>
<hr/>
<h4>Add Transaction</h4>
<div class="panel panel-default">
    <div class="panel-body">
        <form name="addBudgetItemForm" role="form" validation-schema schema="AddBudgetItem" track-changes>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="control-label col-sm-2 form-control-static">Type</label>
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-default" ng-class="{'btn-success': vm.newBudgetItem.type == 'Income'}" ng-click="vm.newBudgetItem.type = 'Income'">Income</a>
                                <a class="btn btn-default" ng-class="{'btn-danger': vm.newBudgetItem.type == 'Expense'}" ng-click="vm.newBudgetItem.type = 'Expense'">Expense</a>
                            </div>
                            <div class="col-xs-12">
                                <input ng-model="vm.newBudget.type" name="budgetType" message-id="typeMessage" ng-show="false" />
                                <div id="typeMessage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2 form-control-static">Name</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon input-sm">
                                    <i class="fa fa-pencil btn-icon"></i>
                                </div>
                                <input type="text" name="name" class="form-control"
                                        ng-model="vm.newBudgetItem.name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2 form-control-static">Amount</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon input-sm">
                                    <i class="fa fa-dollar btn-icon"></i>
                                </div>
                                <input type="text" name="amount" class="form-control"
                                        ng-model="vm.newBudgetItem.amount" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-12">Description</label>
                            <div class="col-sm-12">
                                <textarea class="form-control vresize" ng-model="vm.newBudgetItem.description" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-block btn-default" ng-click="vm.addBudgetItem(addBudgetItemForm)">Add Transaction</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr/>
<h4>Budget History</h4>
<div ng-show="vm.budgetItems == null">
    This budget has no transaction history
</div>
<div ng-show="vm.budgetItems != null">
    <table st-table="vm.budgetItems" class="table table-striped">
        <thead class="navbar navbar-inverse">
        <tr>
            <th></th>
            <th st-sort="name">Name</th>
            <th>Description</th>
            <th st-sort="amount">Amount</th>
            <th st-sort="type">Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in vm.budgetItems" ng-class="{expense: row.type == 'Expense', income: row.type == 'Income'}">
            <td class="income-icon" ng-show="row.type == 'Income'"><i class="fa fa-plus-circle"></i></td>
            <td class="expense-icon" ng-show="row.type == 'Expense'"><i class="fa fa-minus-circle"></i></td>
            <td style="font-weight: bold;">{{row.name}}</td>
            <td>{{row.description | limitTo: 50}}{{row.description.length > 50 ? '...' : ''}}</td>
            <td>{{row.amount | currency}}</td>
            <td>{{row.type}}</td>
            <td><a ng-click="vm.deleteBudgetItem(row)"><i class="fa fa-trash"></i></a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">Goal: {{vm.budget.allocatedAmount | currency}}</td>
        </tr>
        <tr>
            <td colspan="7">Savings to Goal: {{vm.budget.allocatedAmount - vm.budget.balance | currency}}</td>
        </tr>
        </tfoot>
    </table>
</div>