@import "../../../PersonalFinance.Common/Content/styles/bootstrap/bootstrap.scss";
@import "../../../PersonalFinance.Common/Content/styles/theme/_bootswatch.scss"; 
@import "../../../PersonalFinance.Common/Content/styles/personal-finance-common.scss";
@import "../../../PersonalFinance.Common/Content/styles/font-awesome/font-awesome.scss"; 
 
//Rounded Corners fix
* {
  border-radius: 0 !important;
} 

.btn-icon {
    width: 15px;
}
   
//Breadcrumbs fix
.breadcrumb {
    font-size: 12px;  
    font-weight: bolder; 
}

.centered {
    margin: 0 auto; 
}

.expense {
    background-color: #ffcccc !important;
} 
 
.income {
    background-color: #ccffcc !important;
}

.income-icon {
    color: #009900 !important;
}

.expense-icon {
    color: #990000 !important; 
}

.fa-plus, .fa-trash, .fa-plus:hover, .fa-trash:hover {
    font-size: 18px !important;
    cursor:pointer;
}

.fa-plus:hover, .fa-trash:hover {
    color: #ff6666 !important;
}

thead {
    color: $navbar-default-brand-color !important;
}

//Position modals in vertical center of screen
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}