<div ncy-breadcrumb></div>
<header>
    <h1>Dashboard</h1>
</header>
<div class="row">
    <div class="col-md-9">
        <section>
            <h3>Recent Budgets <small> - {{budget.recentBudget.name}}</small></h3>
            <hr/>
            <article ng-repeat="item in budget.item">
                <a ui-sref="home.budgets.details({budgetId:budget.id})">{{item.name}}</a>
                &nbsp;
                <span ng-class="(item.amount > 0) ? 'alert-success' : 'alert-danger'">{{item.amount | currency}}</span>
            </article>
        </section>
    </div>
</div>